<h1>Classroom Info: </h1>

<% @classroom.students.each do |s| %>
<%= render partial: "students/student", locals: {student: s} %>
<% end %>

<h2><%= render partial: "classrooms/classroom", locals: {classroom: @classroom} %></h2>

